/* set to language */

@charset 'utf-8';



 /* reset css */
 * {margin: 0;
    padding: 0;
}

ul, ol {list-style: none;
        
}

img {vertical-align: bottom;
     border: none;   
}

body {background-color: #e6e6e6;
    font-family: 'Pretendard', sans-serif;
    width: 100vw;
    height: auto;   /* 페이지가 100% 높이를 가지도록 설정 */
   
    color: #3C3C3C;  
    
}



#wrap {position: relative;}



@media (max-width:900px) 
{



/* lnb 설정####################################### */


  
  .lnbButton {
   
    font-size: 13vw;
    
    left: 0;
    transform: translate(2vw, -7vh);
    
    
    
  }
  
  

  .lnbBg {
    
    left: -25vw;
   
    opacity: 1;
  
  }


  
  .lnbList {
    
    font-size: 5vw;
    
    
    left: 18vw; /* 기본적으로 화면 밖으로 숨김 */
  
    
  }
  

 
 
  

  
 

/* 상단주석(?) 설정####################################### */




.upperText p:nth-child(2) {font-size: 2.8vw;
                           

}

.upperText a:nth-child(3) i {font-size: 3.2vw;} 
.upperText i {
  margin-right: 1.5vw; /* 아이콘과 텍스트 간 간격 */
}



.upperText i:hover::after {
 
  font-size: 3.2vw;

}


/* hero-section 설정####################################### */



.mainPage {position: relative;
    overflow: auto;
   
    width: 100vw;
    height: 100vh;    

}


.heroText .nameReveal>img {transform: scale(0.8);}









.tagline em>p {
    transform: translateY(0.4vh); 
}






/* bottom-nav 설정####################################### */


.bottom-nav>div { 
    
    margin: 0vw;  
   padding: 0 12vw;
    border-radius: 4.604vw;

}
.bottom-nav>div h2 { 
    
    font-size: 3vw;
    
   
    

}

.bottom-nav>div:hover {
    color: #fff;
    background-color: #151515;



}

/* 전체 컨셉뷰 미디어쿼리 설정 */

 .desktopImg {
    display: none;
  }
  .mobileImg {
    display: block;
  }


  .line1,
  .line2 {
    display: block;
  }




/* uxuiPage########################################## */

.uxuiPage {width: 100vw;
              height: 100vh;        /* fallback */
  height: 100dvh;       /* 실제 대응 */
          
          overflow: scroll;
          
   
        }
.uxuiPageBg {
             position: fixed;
             
            }
    
.subjectT h2 {font-size: 5vw;
              margin-bottom: 0vh;
              left: 4vw;

}            

.contentsArea {
               flex-direction: column;
                 align-items: center;           
    height: auto;                 
    bottom: -10vh;
}


.contentsArea .contentsBox {
    width: 70vw;                  
    height: 40vh;               
    margin: 4vh 0;               
    border-radius: 2vw;    

                          
                            
}

.contentsBox .imgBox {          
          height: 30vh;     
                    
                    
                     }



.contentsBox .textBox {
                       padding: 0vh 5vw;  
                       
                       
}

.contentsBox .leftside {
                        
                          margin: 2vh 0vw;  
                          
}
.contentsBox .leftside em {
                         font-size: 6vw;  
                         
}
.contentsBox .leftside span {
                            font-size: 3vw;  
                            
                         
}

.contentsBox .rightside {
                          border: 0.2vw solid #3C3C3C;
  
  top: 0.3vh;             
}
.contentsBox .rightside i {font-size: 5vw;        
  padding: 0.6vh 1vw;  
}



/* ######################################################################### */



.publishingPage {width: 100vw;
            height: 100vh;        /* fallback */
  height: 100dvh;       /* 실제 대응 */
          
          overflow: scroll;
   position: relative; 
        }
.publishingPageBg {
             position: fixed;
           
            }
.publishingPage .contentsArea {flex-direction: column;
                 align-items: center;           
    height: auto;                 
    bottom: -10vh;
             
}



.publishingPage .contentsArea .contentsBox { 
    width: 70vw;                  
    height: 40vh;               
    margin: 4vh 0;               
    border-radius: 2vw;    



                          
                            
}



/* 컨셉뷰들 아이콘 푸터 설정############## */




.closeB {
          top: 5.5vh;
          right: 10vw;
          
         
        }
.closeB i {font-size: 7vw;}

.footerC { 
  bottom: 10vh;
  
  flex-direction: column;
  
  
  
 
         
          
}
.footerC>p {margin: 0 2.5vw; /* 기본 margin을 없애고 */
   font-size: 2.5vw; /* 글자 크기 설정 (선택적) */}


.publishingSub1 .footerC { 
  bottom: 3vh;
  

         
          
}




.publishingSub2>.closeB { top: 5.5vh;
          right: 10vw;
}
.publishingSub2>.closeB i {font-size: 7vw;  }






.publishingSub2>.footerC { bottom: 1vh;
  
  flex-direction: column;
  
     opacity: 0.3;    
          
}



.publishingSub3 .footerC { 
  bottom: 2vh;
  
  
  
         
          
}

/* position for link */


.publishingSub1 .linkB { 
  top: 21.5vh;
  right: 7.5vw;
  
  padding: 0.16vw 0.47vw;
  
}
.publishingSub1 .linkB>i { margin-right: 0.10vw;
  font-size: 1.6vw;
  
  margin-top: 0.5vw;
    
}
.publishingSub1 .linkB>p {font-size: 2vw;}




.publishingSub2 .linkB {

  top: 56vh;
  left: 5vw;
 
  padding: 0.16vw 0.47vw;
 
}
.publishingSub2 .linkB>i {
  margin-right: 0.10vw;
  font-size: 1.6vw;
  
    margin-top: 0.5vw;
    
}
.publishingSub2 .linkB>p {font-size: 2vw;}





.publishingSub3 .linkB { top: 20vh;
  right: 84vw;
  
  padding: 0.16vw 0.47vw;
}
.publishingSub3 .linkB>i {  margin-right: 0.10vw;
  font-size: 1.6vw;
  
    margin-top: 0.5vw;
}
.publishingSub3 .linkB>p {font-size: 2vw;}









/* profilePage######################################## */

.profilePage {width: 100vw;
              height: 100vh;
              
              position: relative;
}






.proTextBox {position: absolute;
             width: 90vw;
             height: 90vh;
             top: 50%;
             left: 50%;
             transform: translate(-55%,-50%);
           
            
             display: flex;
             flex-direction: column;
            
}

.proLeftside {width: 100%;
              height: 35%;
              position: relative;
              top: 0vh;
              left: 0vw;
              
              
}

.proLeftside .proLogo {width: 100%;
                       height: 100%;
                       position: relative;
}
.proLeftside .proLogo img {position: absolute;
                           width: 70%;
                           height: auto;
                           top: 50%;
                           left: 50%;
                           transform: translate(-55%, 20%); 
}

.proLeftside .proSkills {width: 100%;
                       
                        position: relative;
                      }
.proLeftside .proSkills img {position: absolute;
                             left: 0;
                             bottom: 0; 
                              width: 40%;
                             height: auto; 
                             margin-bottom: -0vh;
                             margin-left: 2vw;
}


.proLeftsideCon {width: 100%;
                 height: 15%;
                margin-top: 85vh;
                margin-left: 68vw;
               
                }

.proLeftsideCon p {font-size: 2vw;         
 
  margin: -0.5vh -1.8vw;
             
              }

.proContactB .iconB {  width: 3vw;              
  height: 3vw;           
  
  margin-right: 2.5vw;
 
}
.proContactB .iconB img {width: 100%;
                         height: 100%;
}









.proRightside {width: 100%;
                 height: 650%;
                 overflow: hidden;

               
                 
                 
} 






.proUpper h2 {  
  font-size: 3.8vw;
  
}






.circleI i {font-size: 3vw;
  
    
}










.proRightside .proRightB:nth-child(1) .proLower.on {
  height: 15vw;
}
.proRightside .proRightB:nth-child(2) .proLower.on {
  height: 53vw;
  
}
.proRightside .proRightB:nth-child(3) .proLower.on {
  height: 12vw;
}
.proRightside .proRightB:nth-child(4) .proLower.on {
  height: 27vw;
}
.proRightside .proRightB:nth-child(5) .proLower.on {
  height: 16vw;
}
.proLower p { font-size: 2vw;
 

}



.proLower span { 
  font-size: 1.8vw;
}
.proLower>div {margin-top: 0.16vw;
  margin-bottom: 1.04vw;
}




.proLower.contact>div span {width: 20vw;
                           
                           
}

.proLower.contact>div>p>a {color: #696969;
                           border: 0.05vw solid #696969;
                           text-decoration: none;
                           padding: 0.2vh 1.5vw;
                           border-radius: 999px;
                           background-color: transparent;
}





    
}


